
<center>
  <h1>Add a link</h1>

    <form action="/links" method="post">
      Please add a title
      <input type="text" name="title"><br>
      Please add the url
      <input type="text" name="url"><br>
      Please add a tag
      <input type="text" name="tags"><br>
      <input type="submit" value="Add">
    </form>

</center>
